---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main class="container mx-auto max-w-3xl mb-8 px-4 lg:px-0">
    <h1 class="text-3xl font-medium">Hey, let's get in touch! 👋</h1>
    <section class="mb-4">
      <p class="mt-4">
        I'm always open to new opportunities and collaborations. Feel free to
        reach out to me at:
      </p>
      <ul class="list-disc list-inside">
        <li>
          Email: <a class="underline" href="mailto:longkimhoang@outlook.com"
            >longkimhoang@outlook.com</a
          >
        </li>
        <li>
          LinkedIn: <a
            class="underline"
            href="https://www.linkedin.com/in/long-kim-hoang/"
            target="_blank"
            rel="noopener noreferrer">in/long-kim-hoang</a
          >
        </li>
        <li>
          GitHub: <a
            class="underline"
            href="https://github.com/longkimhoang"
            target="_blank"
            rel="noopener noreferrer">longkimhoang</a
          >
        </li>
      </ul>
    </section>
    <section>
      <p>I'm also fairly active on socials, find me at:</p>
      <ul class="list-disc list-inside">
        <li>
          Twitter: <a
            class="underline"
            href="https://twitter.com/yuruyuubari"
            target="_blank"
            rel="noopener noreferrer">@yuruyuubari</a
          >
        </li>
      </ul>
    </section>
  </main></Layout
>
